body{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
}

.table1,th,td{
    border: 4px solid;
    border-style: solid;
    border-spacing: 0px;
    border-color: black;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}

.odev{   
text-align: center;
font-size: 30px;
font-family: 'Courier New', Courier, monospace;
}